/*см в доп.тхт как можно было сделать по-другому*/

* {
	margin: 0;
	padding: 0;

}
body {
	background: #fdfaf3;
}
.all {
	margin: 0 auto;
	width: 1360px;
	background: url(img/bg.png) no-repeat top center;
}
.container {
	margin: 0 auto;
	width: 1164px;
	height: 770px;
}
.clearfix {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}




header {
	background: url(img/blue-bg.png) no-repeat left top, url(img/_image.png) no-repeat center center;
	height: 770px;
}


.menue {
	height: 89px;
	/* margin-top: 30px; */
	/*display: inline-block;*/
	background: url(img/logo.png) no-repeat center center;
}



/*исправить: при открытии меню пропадают лого и соцсети*/

.menu {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 29px 1px;
	padding: 0;
	width: 30px;
	height: 30px;
	font-size: 0;
	text-indent: -999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	transition: background 0.3s;
	background: none;
}
.menu span {
	display: block;
	position: absolute;
	top: 13px;
	left: 0;
	right: 0;
	height: 3px;
	background: #fff;
}
.menu span::before, .menu span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: "";

/*	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;*/
}
.menu:focus span {
/*	transition: background 0s 0.3s;
*/	background: none;
}
.menu span::before {
	top: -10px;
	transition-property: top,transform;
}
.menu span::after {
	bottom: -10px;
	transition-property: bottom,transform;
}
.menu:focus span::before {
	top: 0;
	transform: rotate(45deg);
	background: #fff;
}
.menu:focus span::after {
	bottom: 0;
	transform: rotate(-45deg);
	background: #fff;
}
/*.menu:focus span::before, .menu:focus span::after {
	transition-delay: 0s, 0.3s;
}*/
.menu:focus ~ .submenu {
	display: block;
}







.phone {
	display: inline-block;
	float: right;
	line-height: 88px;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgb(37,37,37);
	font-family: "Muller Light";
	font-weight: 300;
}




/*.submenu > li > a {
    display: block;
    margin-bottom: 36px;
    color: white;
    text-decoration: none;
}*/
ul.submenu {
    display: none;
    width: 1165px;
    height: 595px;
	background-color: rgb(18, 36, 55);
}
ul.submenu > li {
    display: block;
    box-sizing: border-box;
}
ul.submenu > li > a {
    display: block;
	height: 59px;
	font-family: 'Raleway Bold', arial;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 42px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
ul.submenu > li > a:hover {
    color: rgb(248,162,90);
	box-shadow: 0 0 6px rgba(0,1,6,0.05);
}
ul.submenu li:nth-child(1) {
	padding-top: 140px;
}
ul.submenu li:last-child {
	padding-bottom: 140px;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
ul.menu > li:hover {
    list-style-position: inside;
	list-style-image: url(img/002-cancel.png);
}
ul.menu > li {
	list-style-position: inside;
	list-style-image: url(img/002-menu.png);
}





header .container > .content {
	box-sizing: border-box;
	display: block;
	position: relative;
	margin: 173px 0 0 90px;
	width: 370px;
	z-index: 999;
}
header h1 {
	font-family: 'Playfair Display', serif;
	font-size: 61px;
	line-height: 59px;
	letter-spacing: 2px;
	color: #fff;
}
header h2{
	color: #fff;
	font-family: "Muller Light";
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 21px;
	margin-top: 24px;
	margin-bottom: 35px;
}
.button {
	width: 277px;
	height: 56px;
	display: block;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-family: "Raleway ExtraBold";
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 56px;
	box-sizing: border-box;
}
.button:hover {
	border-bottom: 2px solid #f8a25a;
	background: #f8a25a;
	color: #fff;
	box-sizing: border-box;
}


.social {
	margin-top: 180px;
}
.social a {
	display: inline-block;
}
.social a:nth-child(2) {
	margin: 0 40px 0 40px;
}




.whywhy {
	font-size: 0;
	height: 700px;
	position: relative;
}
.why-us {
	display: inline-block;
	box-sizing: border-box;
	height: 700px;
	vertical-align: top;
	padding: 100px 0;
	position: absolute;
}
.why-us h1 {
	font-size: 85px;
	letter-spacing: 1px;
	color: rgb(254,160,82, .3);
	font-family: "Playfair Display";
	font-weight: bold;
	line-height: 85px;
}
.why-us h2 {
	font-size: 22px;
	color: rgb(26,41,47);
	letter-spacing: 1px;
	font-family: 'Raleway Regular', arial;
	font-weight: 400;
	margin: 15px 0;
}
.why-us p {
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	color: rgb(131,131,131);
	font-family: 'Raleway Regular', arial;
	font-weight: 300;
}
.why-us:first-child {
	width: 286px;
	margin-left: 96px;
}
.why-us:nth-child(2) {
	width: 296px;
	top: 100%;
	transform: translateY(-500px);
	left: 382px;
}
.why-us:nth-child(3) {
	width: 290px;
	vertical-align: bottom;
	left: 678px;
}
.why-us:last-child {
	width: 296px;
	top: 100%;
	transform: translateY(-500px);
	left: 968px;
}



.portfolio {
	height: 850px;
}
.portfolio h1 {
	height: 120px;
	font-size: 45px;
	color: rgb(0,32,58);
	font-family: "Playfair Display";
	font-weight: bold;
}
.menu-portfolio {
	height: 85px;
	list-style: none;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	font-family: 'Raleway Regular', arial;
	font-weight: 300;
}
.menu-portfolio li {
	display: inline-block;
	margin-right: 60px;
	padding-bottom: 10px;
}
.menu-portfolio li:hover {
	font-weight: bold;
	border-bottom: 1px solid #182c3d;
}
.menu-portfolio li a {
	text-decoration: none;
	color: #00203a;
}
.img-portfolio {
	position: relative;
}
.img-portfolio > img {
	position: absolute;
}
.work {
	position: relative;
	display: block;
	float: left;
	width: 257px;
	height: 550px;
}
.work1 {
	background: url(img/portfolio-1.png) left bottom;
}
.work-h {
	width: 392px;
	background: url(img/Cam3_large.png) center center;
}
.work3 {
	background: url(img/portfolio-3.png) left center;
}
.work4 {
	background: url(img/portfolio-4.png) center center;
}
.selected-work {
	display: none;
	position: absolute;
	top: 232px;
	left: 152px;

	height: 85px;
	width: 85px;
	border-radius: 50%;
	background: rgb(253, 187, 127, .9);
	box-shadow: 5px 8px 30px rgba(0,1,6,0.07);

	text-align: center;
	line-height: 85px;
	font-size: 50px;
	color: rgb(255,255,255,.9);
}
.work-h > .selected-work {
	display: block;
}
.work h2 {
	position: absolute;
	left: 25px;
	top: 20px;
	width: 156px;

	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	font-family: 'Raleway Regular', arial;
	font-weight: 600;
	color: #fff;
}
.work h3 {
	position: absolute;
	bottom: 95px;
	left: -45px;
	transform: rotate(-90deg);

	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	font-family: 'Raleway Regular', arial;
	font-weight: 300;
	color: #fff;
}

.blue-shadow {
	background: rgb(0,32,58,.8);
	width: 100%;
	height: 550px;
}





.uslugi {
	height: 800px;
	padding-bottom: 145px;
}
.uslugi h1 {
	margin-bottom: 30px;
	line-height: 135px;
	font-size: 45px;
	color: rgb(0,32,58);
	font-family: "Playfair Display";
	font-weight: bold;
}
.uslugi-menu {
	display: block;
	float: left;
	width: 200px;
	padding-right: 86px;
	height: 605px;
}
.uslugi-menu li {
	list-style: none;
	padding-bottom: 73px;
}
.uslugi-menu a {
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #00203a;
	font-family: 'Raleway Regular', arial;
}
.uslugi-menu li:hover {
	width: 205px;
	padding-left: 35px;
	font-weight: bold;
}
.uslugi-info {
	display: none;
	float: right;
	height: 605px;
	width: 878px;

	font-size: 16px;
	letter-spacing: 1px;
	line-height: 25px;
	color: #00203a;
	font-family: 'Raleway Regular', arial;

	position: relative;
}
.uslugi-info .image {
	width: 878px;
	height: 390px;
	background: url(img/uslugi-img-3.png);
}
.uslugi-info .article {
	float: left;
	height: 215px;
	width: 490px;
}
.uslugi-info .article h1 {
	margin-top: 50px;
	line-height: 50px;
	font-size: 29px;
	color: rgb(0,32,58);
	font-family: "Playfair Display";
}
.uslugi-info .article p {
	line-height: 28px;
	margin-top: 5px;
}
.uslugi-info .project {
	float: right;
	width: 220px;
	margin-top: 67px;
	text-align: right;
	font-weight: bold;
}
.uslugi-info .consult {
	float: right;
	width: 220px;
	height: 55px;

	border: 2px solid #112537;
	box-sizing: border-box;
	text-align: center;

	position: absolute;
	bottom: 0px;
	right: 0px;
}
.uslugi-info .consult a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway ExtraBold";
	font-size: 14px;
	color: #112537;
	line-height: 55px;
	letter-spacing: 1px;
	font-weight: 800;
}
.uslugi-info .consult:hover, .consult:hover a {
	border: 1px solid #f8a25a;
	background: #f8a25a;
	color: #fff;
	box-sizing: border-box;
}
.uslugi-info:nth-child(3) {
	display: block;
}
/*.uslugi-menu > li:nth-child(1):hover ~ .uslugi-info:nth-child(1) {
	display: block;
}*/



.video {
	height: 590px;
	background: url(img/video.png) center bottom;
	position: relative;
	z-index: 1;
}
.video .blue-shadow {
	width:100%;
	height:100%;
	background: rgb(0,32,58,.5);
}
.video-label {
	padding-top: 20%;
	text-align: center;
}
.video-start-button {
	z-index: 2;
	margin: 0 auto;
	width: 75px;
	height: 75px;
	background: #f2b47c;
	border-radius: 50%;
}
.triang {
	width: 75px;
	height: 75px;
	background: url(img/video-triangle.png) center center no-repeat;
	z-index: 3;
}
.video h2 {
	margin-top: 20px;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 20px;
	font-family: 'Raleway Regular', arial;
	font-weight: 300;
	color: #fff;

	line-height: 25px;
}











.back-forms {
	background: url(img/kitchen2.png) center bottom / cover;
	height: 680px;
}
.back-forms .blue-square {
	display: block;
	width: 680px;
	height: 680px;
	background: #182c3d;
	box-sizing: border-box;
	padding: 0 100px 0 105px;
}





footer {
	height: 250px;
	background: rgb(18, 36, 55);
}
footer > .container {
	height: 250px;
}
.foot-logo {
	height: 115px;
	width: 100%;
}
.foot-logo > img {
	display: block;
	margin: 75px auto 0 auto;	
}
footer .name {
	height: 35px;
	font-size: 16px;
	line-height: 30px;
	color: rgb(255,196,135);
	font-family: 'Raleway Regular', arial;
	font-weight: 200;
}
footer .name > div {
	display: block;
}
.foot-social a{
	display: inline-block;
	margin: 0 20px 0 20px;
}







@font-face {
font-family: 'font3b62d4efb27c1c31a9ada8f7219bbf38';
src:url('https://nomail.com.ua/files/eot/3b62d4efb27c1c31a9ada8f7219bbf38.eot?#iefix') format('embedded-opentype'),
	url('https://nomail.com.ua/files/woff/3b62d4efb27c1c31a9ada8f7219bbf38.woff') format('woff'),
	url('https://nomail.com.ua/files/woff2/3b62d4efb27c1c31a9ada8f7219bbf38.woff2') format('woff2');
        }